
<div class="page-content">
  <div class="content-block center">
      <div href="#" class="menu-item {{if isMusic 'active'}}" {{action 'toggleMusic'}}>
        {{fa-icon "music" size=4}}
        <span class="menu-cat">Musica</span>
      </div>
      <div href="#" class="menu-item {{if isLight 'active'}}" {{action 'toggleLight'}}>
        {{fa-icon "lightbulb-o" size=4}}
        <span class="menu-cat" >Luz</span>
      </div>
      <div href="#" class="menu-item {{if isCradle 'active'}}" {{action 'toggleCradle'}}>
        {{fa-icon "leaf" size=4 }}
        <span class="menu-cat">Berço</span>
      </div>

  </div>
</div>
